# 변수

In [120]:
# 변수 선언과 동시에 값을 할당
a = 10
b = "test"

# 두 변수를 출력
print(a)
print(b)
# 두 변수의 데이터의 형태 출력
print(type(a))
print(type(a))

10
test
<class 'int'>
<class 'int'>

In [121]:
# 숫자 형태의 데이터에 ""로 묶어주면 문자열 데이터로 데이터 대입
c = "10"
print(c)
print(type(c))

10
<class 'str'>

# 연산자

In [122]:
# 산술 연산자
x = 7
y = 3

print(x+y, x-y, x/y, x//y, x%y, x**y)

10 4 2.3333333333333335 2 1 343

In [123]:
# 대입 연산자
# +=, -=, *=, /=, //=, %=, **=
# 산술 연산자와의 차이는 기준이 되는 변수의 데이터를 변경
print(x)     # 7이 출력이 된다.
x += 1       # x = x + 1 
print(x)     # 8이 출력
x -= 3       # x = x - 3
print(x)     # 5가 출력
x *= 2       # x = x * 2
print(x)     # 10이 출력
x /= 3       # x = x / 3 
print(x)     # 3.3323333333... 출력
print(x + 2) # 5.3333... 출력
print(x)     # 위에 x + 2는 x에 2를 더한 값을 출력 x 데이터의 변화는 없다

7
8
5
10
3.3333333333333335
5.333333333333334
3.3333333333333335

In [124]:
# 비교 연산자
# 데이터의 비교를 하여 논리값을 출력
# 논리값 bool의 형태 (true, false)
x = 7
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [125]:
# and, or , not
# and : 두 조건이 모두 참인 경우에 참 나머지의 경우는 모두 거짓
print(True and True)
print(True and False)
print(False and True)

True
False
False

In [126]:
# or : 두 조건중 하나만 참이면 참을 출력, 두 조건이 모두 거짓인 경우에만 거짓을 출력

print(True or True)
print(True or False)
print(False or False)

True
True
False

In [127]:
# not : True눈 False로 False는 True로 출력
print(not(True))

False

# 조건문

- if문
    1. if 뒤의 조건식이 참인 경우 코드가 실행 된다.
    2. 조건식이 거짓인 경우에는 코드가 실행되지 않는다.
    3. 거짓인 경우 코드를 실행하려면 else 구문이 필요하다.
    4. 조건식이 여러개인 경우에는 elif 조건식의 형태로 구문을 만들어준다.

In [128]:
a = 15

# a가 10보다 작은경우에는 첫 번째print를 실행
# a가 10보다 크거나 같은 경우에는 첫번째 print를 실행하지 않는다.
if a < 10 : 
    print("a는 10보다 작다")

print("프로그램 종료")

프로그램 종료

In [129]:
# if ~ else문
a = 150
if a < 10:
    print("a는 10보다 작다")
else : 
    print("a는 10보다 크거나 같다")
print("프로그램 종료")

a는 10보다 크거나 같다
프로그램 종료

In [130]:
score = int(input("점수를 입력하시오"))

if score >= 90:
    print('a')
elif score >= 80:
    print('b')
elif score >= 70:
    print('c')
else :
    print("f")
print("프로그램 종료")

ValueError: invalid literal for int() with base 10: ''

# 반복문

In [ ]:
# rnage(시작값, 종료값, 증가값)
print (list(range(1, 11, 2)))

[1, 3, 5, 7, 9]

In [ ]:
#for문
for i in range(1, 11, 1):
    print(i)
print("프로그램 종료")  #들여쓰기 중요!

1
2
3
4
5
6
7
8
9
10
프로그램 종료

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for in range(10, 1, -2):
    print(i)

SyntaxError: invalid syntax (936789776.py, line 1)

In [ ]:
# 1부터 10까지의 합계를 구하시오
#10번 반복

# 초기의 합계 값 지정
result = 0 

#반복문 시작 
for i in range(1, 11, 1):
    #합계 값에 i값을 더해준다
    result = result + i
    result += i

print(result)

110

In [ ]:
# 1부터 50까지의 합계를 구한다
# 1부터 50까지 짝수의 합계만 구하는 방법은?

#case1(for문)
result = 0
for i in range(2, 51, 2):
    result += i
print(result)

#case2(if문)
result = 0
for i in range(1, 51, 1):
    # 짝수의 조건은 : 2로 나눴을때 나머지가 0인 경우
    if i % 2 == 0:
        result += i
print(result)

650
650

In [ ]:
# 주사위 2개를 굴려서 두 자사위의 합계가 5인 배수인 경우를 출력하시오.
# 경우의 수 : 36번 -> 6번의 경우의 수 * 6번 경우의 수
# 다중 for문 -> if문 사용
result = 0
for i in  range(1, 7, 1):
    for j in range(1, 7, 1):
       sum = i + j
       if (i + j)% 5 == 0:
        print(i, j)

1 4
2 3
3 2
4 1
4 6
5 5
6 4

In [ ]:
### 문제
- 페르마의 마지막 정리를 증명하시오.
    > a**n + b**n = c**n 이 수식에서  n의 값이 2보다 큰 자연수이면 a,b,c의 자연수의 값은 존재하지 않는다.
    > n의 값이 3인 경우 a, b, c가 1부터 10까지 이 정리가 사실임을 증명하시오
- 다중 for문과 if문을 사용

for a in range(1, 11, 1): 
    for b in range(1, 11, 1):  
        for c in range(1, 11, 1):  
            if a**3 + b**3 == c**3:
                print(a, b, c)

print("페르마의 정리 증명을 완료")

SyntaxError: invalid decimal literal (4175427346.py, line 3)

In [131]:
#while문 
# 초기값 지정
i = 0

while i < 10:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
result = 0 
i = 1

while 1 <= 10:
    i += 1
    result += i 
print(result)

In [146]:
# continue, break
# continue 반복문으로 돌아간다.
# break 반복문을 종료한다.

for i in range(1, 11, 1):
    if i < 3:
        continue
    print(i)

3
4
5
6
7
8
9
10

In [150]:
i = 0
while i < 11:      # i가 11보다 작은 동안 7보다 밑까지 출력반복
    if i == 7:
        break
    print(i)
    i += 1

0
1
2
3
4
5
6

### 문제
 - 1부터 1000까지 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?
    1. 합계라는 변수를 하나 지정 0 을 대입
    2. for, while문을 사용하여 1부터 1000까지의 합계를 구하는 반복문 생성
    3. 합계가 900이 넘어가는 순간 break
    4. break 당시의 i 값을 출력

In [169]:
#for문
result = 0
for i in range(1, 1001, 1):
    result += i 
    if result > 900:
        print(i)
        break
print(result)

42
903

In [177]:
#while문
result = 0 
i = 1
while i <= 10000:
    result += i
    if result > 900:
        break
    i += 1
print(i)
print(result)

42
903

# 튜플

In [192]:
a= (4, "Hello")
b= (3, 3.14)
c= (a + b)
d= (a*3)
print(a)
print(b)
print(c)
print(d)

(4, 'Hello')
(3, 3.14)
(4, 'Hello', 3, 3.14)
(4, 'Hello', 4, 'Hello', 4, 'Hello')

In [193]:
#튜플과 같은 여러개의 원소를 담아내고 있는 변수들은 위치 값으로 각각의 원소를 출력할 수 있다.
print(a[0]) #위치는 0부터 시작한다.

4

In [194]:
print(a[1][0])

H

In [195]:
a= (10, 20, 30, 40, 50)
#2번째 원소부터 4번째 원소까지 출력
print(a[1:4])

(20, 30, 40)

In [198]:
print(a[1:]) #두번째 부터 마지막까지 출력
print(a[:3]) #처음부터 3번째까지

(20, 30, 40, 50)
(10, 20, 30)

# 리스트 list

In [201]:
a=[20, 10 ,40, 30]
b=[10, 20, 30, 40]
#a 리스트의 순서를 오름차순으로 변경
a.sort()
#b 리스트의 순서를 역순으로 변경
b.reverse()
print(a)
print(b)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [202]:
# a 리스트에서 마지막 항목을 삭제한다
a.pop()
# b 리스트에는 22라는 항목을 마지막 항에 추가
b.append(22)
print(a)
print(b)

[10, 20, 30]
[40, 30, 20, 10, 22]

In [203]:
x =[]

for i in range(1,11,1):
    x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [206]:
y=[30,20,10,80]

for i in y:
    print(i)

for i in range(0, len(y),1):
    print(y[i])

30
20
10
80
30
20
10
80

In [ ]:
- 1부터 70까 숫자들 중에 3의 배수를 리스트에 형태로 만들어서 출력
    1. 비어있는 리스트를 하나 생성
    2. 1부터 70까지 반복을 하는 반복문을 생성
    3. 1부터 70까지의 항복들을 비어있는 리스트에 추가
    4. 3의 배수인 값들만 리스트에 추가

In [ ]:
x =[]
for i in range(1,71,1):
    if i %3 =0
    3.append(i)
print(i)

In [217]:
list = []
for i in range(1,71,1):
    if i %3 == 0:
        list.append(i)
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [220]:
list=[]
i=1
while i <=70:
    if i%3 ==0:
        list.append(i)
    i+=1
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

# 딕셔너리 dict

In [221]:
# 사전형 데이터
# {key1 : value1, key2 : value2, ...}
dict={'name':'test','age':'20','phone':'010123456'}
print(dict)

{'name': 'test', 'age': '20', 'phone': '010123456'}

In [222]:
print(dict['name'])

test

In [223]:
# 새로운 키 : 벨류를 추카
#새로운 키값을 입력
dict['area'] = 'seoul'
print(dict)

{'name': 'test', 'age': '20', 'phone': '010123456', 'area': 'seoul'}

In [224]:
#기존의 키값에 있는 벨류를 수정
dict['age'] = 30
print(dict)

{'name': 'test', 'age': 30, 'phone': '010123456', 'area': 'seoul'}

In [229]:
test_data = [
    {
        "name" : "test",
        "age" : 20
    },
    {
        "name" : "test2",
        "age" : 30
    },
    {
        "name" : "test3",
        "age" : 25
    }
]
# 연령대 20대 출력

In [249]:
#for문
_list = []
for i in range(0,len(test_data),1):
    print(test_data[i]['age']):
    if test_data[i]['age'] >=20 and test_data[i]['age'] <30:
print(_list)

SyntaxError: invalid syntax (1346128690.py, line 4)

In [ ]:
_list =[]
for i in test_data:
    if i['age'] >= 20 and i['age'] <30:
        _list.append(i['age'])
print(test_data['age'])