In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
df = pd.read_csv("../csv/AAPL.csv")

In [ ]:
df.head(5)

In [ ]:
# 컬럼의 데이터를 인덱스로 변경
# set_index(컬럼의 이름)
df = df.set_index('Date')

In [ ]:
# 컬럼의 이름을 변경하려면?
df.columns=['시가','고가','저가','종가','수정종가','거래량']
df.head(1)

In [ ]:
# 인덱스의 이름을 바꾸는 법 Date -> 날짜
df.index.name = "날짜"
df.head(1)

In [ ]:
# 데이터프레임에서 특정 컬럼으로 필터
#df['시가'] = 시리즈
#df[['시가']] = 데이터프레임
df.iloc[1:3] #iloc 위치값 1부터 3까지

In [ ]:
# 시가가 100달러 이상인 경우
df.loc[df['시가']>=100]

In [ ]:
# query()함수
# query(조건식)
df.query("시가>=100")

In [ ]:
data =[
    [100,900,800,700],
    [1200,1400,900,800]
]
columns = [
    ['영업이익','영업이익','당기순이익','당기순이익'],
    ['컨센서스','잠정치','컨센서스','잠정치']
]
df=pd.DataFrame(data, columns=columns)
df

In [ ]:
# stack()컬럼을 인덱스 값으로 , unstack() 인덱스 값을 컬럼으로
stack_df = df.stack()

In [ ]:
stack_df.stack() # 시리즈 형태

In [ ]:
stack_df.unstack()

In [ ]:
df.stack(level=0) # 0번째에 있는 컬럼을 내리겠다

### 할로윈 투자전략
1. 11월 1일에 구매 -> 6개월간 유지 4월 말일에 판매
2. 11월 첫날의 시가로 구매
3. 4월 마지막날의 종가로 판매
4. 수익률 = (3번과정 - 2번과정)/2번과정

In [62]:
df= pd.read_csv("../csv/AMZN.csv")

In [63]:
df.head(2)

         Date     Open      High       Low     Close  Adj Close    Volume
0  1997-05-15  2.43750  2.500000  1.927083  1.958333   1.958333  72156000
1  1997-05-16  1.96875  1.979167  1.708333  1.729167   1.729167  14700000

In [64]:
# Date 컬럼을 인덱스로 변환
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [65]:
df.set_index('Date',inplace=True)

In [ ]:
df.index

In [66]:
#11월의 첫번째 데이터
df.loc["2000-11"].iloc[0]['Open']

35.8125

In [67]:
# 4월의 마지막 데이터
df.loc['2001-04'].iloc[-1]['Close']

15.78

In [68]:
for i in range(2000,2020,1):
    buy_mon=str(i)+"-11"
    sell_mon = str(i+1)+"-04"
    print(buy_mon,sell_mon)

2000-11 2001-04
2001-11 2002-04
2002-11 2003-04
2003-11 2004-04
2004-11 2005-04
2005-11 2006-04
2006-11 2007-04
2007-11 2008-04
2008-11 2009-04
2009-11 2010-04
2010-11 2011-04
2011-11 2012-04
2012-11 2013-04
2013-11 2014-04
2014-11 2015-04
2015-11 2016-04
2016-11 2017-04
2017-11 2018-04
2018-11 2019-04
2019-11 2020-04

In [69]:
acc_rtn = 1
for i in range(2000,2019, 1):
    buy_mon =str(i)+"-11"
    sell_mon = str(i+1)+"-04"

    # 구입가 저장
    buy = df.loc[buy_mon].iloc[0]['Open']
    sell = df.loc[sell_mon].iloc[-1]['Close']

    # 수익률
    rtn=(sell-buy)/buy +1
    
    # 누적 수익률
    acc_rtn *= rtn

In [70]:
acc_rtn

8.244683980501206

In [71]:
# buyandhold 인 경우
buy = df.loc["2000-11"].iloc[0]['Open']
sell = df.loc["2019-04"].iloc[-1]['Close']

rtn =(sell-buy)/buy+1
rtn

53.794625340314134

In [72]:
# CAGR (연복리 수익률)
# (수익률 **(1/투자기간))-1

# 할로윈 CAGR
CAGR = (acc_rtn** (1/20))-1
print(CAGR *100)

11.124213625243007

In [73]:
# buyandhold CAGR
CAGR =(rtn **(1/20))-1
print(CAGR *100)

22.04976410456394

In [74]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [75]:
start = datetime(year = 2000, month=11, day=1)
start

datetime.datetime(2000, 11, 1, 0, 0)

In [76]:
end = start + relativedelta(months=5)
end

datetime.datetime(2001, 4, 1, 0, 0)

In [77]:
print(start.strftime("%Y-%m"),end.strftime("%Y-%m"))

2000-11 2001-04

In [95]:
def six_month(df, start = 2000, end = 2019, month=11):
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'], format="%Y-%m-%d")
        df.set_index('Date', inplace=True)

    # 누적 수익율 변수를 생성
    acc_rtn = 1

    for i in range(start, end):
        start_ = datetime(year=i, month=month, day=1)
        end_ = start_ + relativedelta(months=5)

        buy_mon = start_.strftime("%Y-%m")
        sell_mon = end_.strftime("%Y-%m")

        buy = df.loc[buy_mon].iloc[0]['Open']
        sell = df.loc[sell_mon].iloc[-1]['Close']

        rtn = (sell - buy) / buy + 1

        acc_rtn *= rtn
    
    return acc_rtn

In [89]:
data = pd.read_csv('../csv/AMZN.csv')

In [96]:
six_month(data)

8.244683980501206

In [98]:
for i in range(1, 13, 1):
    print(f"{i}월 :", six_month(data, month=i))

1월 : 4.470910943811504
2월 : 4.408415564523263
3월 : 18.50624959809526
4월 : 13.582616833702685
5월 : 4.304179383672146
6월 : 5.111566986774566
7월 : 3.589575312504607
8월 : 6.418767529470167
9월 : 1.3058661611037958
10월 : 1.9960729229032756
11월 : 8.244683980501206
12월 : 6.23900557812782

In [107]:
import halloween as hw
import imp
imp.reload(hw)

In [108]:
df =pd.read_csv("../csv/AMZN.csv")

In [109]:
test=hw.Halloween(df,2000,2019)

In [110]:
test.accrtn()

8.244683980501206

In [113]:
test.cagr()

11.742834843522832