### mongodb
1. 라이브러리 설치
2. 라이브러리 로드
3. CRUD

In [20]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\bjw\appdata\local\programs\python\python311\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\bjw\appdata\local\programs\python\python311\lib\site-packages (from pymongo) (2.3.0)

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
from pymongo import MongoClient

In [22]:
client = MongoClient(
    host ='localhost',
    port = 27017
)

In [23]:
# mongodb에 있는 데이터베이스의 목록 출력
client.list_database_names()

['admin', 'config', 'local', 'ubion']

In [24]:
# 데이터 베이스를 선택
db = client['ubion']

In [25]:
# collection 접근(collection은 sql에서 table과 같은 의미)
collection =db['test']

In [26]:
# CRUD 작업 -> C
# create -> insert() 함수사용
# insert_one() / insert_many() 하나value / 여러개values
data ={
    'id':'test',
    'pass':'1234'

}
collection.insert_one(data)

In [27]:
collection.find_one()

{'_id': ObjectId('643f8ae82ab0aefde870513c'), 'id': 'test', 'pass': '1234'}

In [28]:
data = [
    {
        'name' : 'test1',
        'phone':'010123123',
        'gender':'male',
    },{
        'loc':'seoul'}
]
collection.insert_many(data)

In [29]:
list(collection.find())

[{'_id': ObjectId('643f8ae82ab0aefde870513c'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('643f8ccf2ab0aefde870513d'),
  'name': 'test1',
  'phone': '010123123',
  'gender': 'male'},
 {'_id': ObjectId('643f8ccf2ab0aefde870513e'), 'loc': 'seoul'},
 {'_id': ObjectId('643f91cb2ab0aefde8705140'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('643f91cb2ab0aefde8705141'),
  'name': 'test1',
  'phone': '010123123',
  'gender': 'male'},
 {'_id': ObjectId('643f91cb2ab0aefde8705142'), 'loc': 'seoul'}]

1. sql에서 test table에서 name이 test1인 경우의 데이터를 출력
    - select * from test when name = 'test1

In [31]:
list(collection.find({"name":"test1"}))

[{'_id': ObjectId('643f8ccf2ab0aefde870513d'),
  'name': 'test1',
  'phone': '010123123',
  'gender': 'male'},
 {'_id': ObjectId('643f91cb2ab0aefde8705141'),
  'name': 'test1',
  'phone': '010123123',
  'gender': 'male'}]

1. 해당하는 컬럼의 데이터만 출력하려면
    -select name from test

In [33]:
list(collection.find({},{'name':1}))

[{'_id': ObjectId('643f8ae82ab0aefde870513c')},
 {'_id': ObjectId('643f8ccf2ab0aefde870513d'), 'name': 'test1'},
 {'_id': ObjectId('643f8ccf2ab0aefde870513e')},
 {'_id': ObjectId('643f91cb2ab0aefde8705140')},
 {'_id': ObjectId('643f91cb2ab0aefde8705141'), 'name': 'test1'},
 {'_id': ObjectId('643f91cb2ab0aefde8705142')}]

1. 데이터의 수정
    - update test set pass= '0000' where id= 'test'
    - test 테이블에 id가 test인 데이터에서 pass의 값을 0000으로 수정하겠다

In [34]:
# update
collection.update_one(
    { "id" : "test"},
    {"$set":{'pass': '0000'}}
)

In [36]:
collection.find_one()

{'_id': ObjectId('643f8ae82ab0aefde870513c'), 'id': 'test', 'pass': '0000'}

1. 데이터의 삭제
    - delete from test where id ='test'
    - test 테이블에서 id가 'test'인 데이터를 삭제

In [37]:
collection.delete_one(
    {'id':'test'}
)

In [38]:
list(collection.find())

[{'_id': ObjectId('643f8ccf2ab0aefde870513d'),
  'name': 'test1',
  'phone': '010123123',
  'gender': 'male'},
 {'_id': ObjectId('643f8ccf2ab0aefde870513e'), 'loc': 'seoul'},
 {'_id': ObjectId('643f91cb2ab0aefde8705140'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('643f91cb2ab0aefde8705141'),
  'name': 'test1',
  'phone': '010123123',
  'gender': 'male'},
 {'_id': ObjectId('643f91cb2ab0aefde8705142'), 'loc': 'seoul'}]

In [39]:
list(client['ubion']['test'].find())

[{'_id': ObjectId('643f8ccf2ab0aefde870513d'),
  'name': 'test1',
  'phone': '010123123',
  'gender': 'male'},
 {'_id': ObjectId('643f8ccf2ab0aefde870513e'), 'loc': 'seoul'},
 {'_id': ObjectId('643f91cb2ab0aefde8705140'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('643f91cb2ab0aefde8705141'),
  'name': 'test1',
  'phone': '010123123',
  'gender': 'male'},
 {'_id': ObjectId('643f91cb2ab0aefde8705142'), 'loc': 'seoul'}]

### mongodb select 조건식

- find(옵션1, 옵션2, 옵션3,...,컬럼 선택)
    1. db.collection.find() -> select * from TABLE
    2. db.collection.find({},{"id":1, "pass":1}) -> select id, pass from TABLE
    3. db.collection.find({},{"id":1, "pass":1,"_id":0}) -> 2번과정과 같은 sql문이지만 _id를 보여주지 않겠다
    4. db.collection.find({"id":"test"}) -> select * from TABLE where id = 'test'
    5. db.collection.find({"id":"test","pass":"1234"}) -> select * from TABLE where id = 'test' and pass = '1234'
    6. db.collection.find