### 특정한 경로에 있는 파일의 목록을 출력

In [152]:
import os

In [153]:
file_list = os.listdir("../csv/2017/")

In [154]:
import pandas as pd

In [155]:
for i in range(1,13,1):
    a= "%02d"%i
    file = '2017'+a+'_expense_list.csv'
    print(file)

201701_expense_list.csv
201702_expense_list.csv
201703_expense_list.csv
201704_expense_list.csv
201705_expense_list.csv
201706_expense_list.csv
201707_expense_list.csv
201708_expense_list.csv
201709_expense_list.csv
201710_expense_list.csv
201711_expense_list.csv
201712_expense_list.csv

In [156]:
# read_csv()안에 들어가는 인자값을 생성
# 상대경로 : ../csv/2017/파일명 -> 12개 출력
# 경로에 있는 파일들을 판다스를 이용하여 데이터프레임으로 불러온다
# concat()을 이용하여 단순하게 행을 추가하는 결합
# 결합을 하려면 기준이 되는 데이터프레임이 존재하여야 한다.
# 기준이 되는 데이터를 위해 비어있는 데이터를 하나 생성

path = '../csv/2017/'
file_list = os.listdir(path)
result =pd.DataFrame()
for i in file_list:
    #print(path+i)
    df = pd.read_csv(path+i)
    result = pd.concat([result, df], axis =0, ignore_index= True)

result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70132 entries, 0 to 70131
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 10.7+ MB

In [157]:
file_list = os.listdir("../csv/2019/")

In [158]:
for i in range(1,13,1):
    a= "%02d"%i
    file = '2019'+a+'_expense_list.json'
    print(file)

201901_expense_list.json
201902_expense_list.json
201903_expense_list.json
201904_expense_list.json
201905_expense_list.json
201906_expense_list.json
201907_expense_list.json
201908_expense_list.json
201909_expense_list.json
201910_expense_list.json
201911_expense_list.json
201912_expense_list.json

In [159]:
path = '../csv/2019/'
file_list = os.listdir(path)
result = pd.DataFrame()
for i in file_list:
    df = pd.read_json(path+i)
    result = pd.concat([result, df], axis =0, ignore_index= True)

result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74207 entries, 0 to 74206
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                74207 non-null  int64
 1   title              74207 non-null  object
 2   url                74207 non-null  object
 3   dept_nm_lvl_1      74207 non-null  object
 4   dept_nm_lvl_2      74207 non-null  object
 5   dept_nm_lvl_3      74207 non-null  object
 6   dept_nm_lvl_4      74207 non-null  object
 7   dept_nm_lvl_5      74207 non-null  object
 8   exec_yr            74207 non-null  int64
 9   exec_month         74207 non-null  int64
 10  expense_budget     2075 non-null   float64
 11  expense_execution  1598 non-null   float64
 12  category           74028 non-null  object
 13  dept_nm_full       74207 non-null  object
 14  exec_dt            74207 non-null  object
 15  exec_loc           74207 non-null  object
 16  exec_purpose       74207 non-null  object
 17  target_nm          74207 non-null  object
 18  payment_method     74207 non-null  object
 19  exec_amount        74207 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 11.3+ MB

In [160]:
file_list2 = os.listdir("../csv/2020/")

In [161]:
for i in range(1,13,1):
    a= "%02d"%i
    file = '2020'+a+'_expense_list.xlsx'
    print(file)

202001_expense_list.xlsx
202002_expense_list.xlsx
202003_expense_list.xlsx
202004_expense_list.xlsx
202005_expense_list.xlsx
202006_expense_list.xlsx
202007_expense_list.xlsx
202008_expense_list.xlsx
202009_expense_list.xlsx
202010_expense_list.xlsx
202011_expense_list.xlsx
202012_expense_list.xlsx

In [162]:
path = '../csv/2020/'
file_list = os.listdir(path)
print(file_list)
result = pd.DataFrame()

for i in file_list:
    print(i)
    df = pd.read_excel(path+i)
    result = pd.concat([result, df], axis =0, ignore_index= True)

result.info()

['202001_expense_list.xlsx', '202002_expense_list.xlsx', '202003_expense_list.xlsx', '202004_expense_list.xlsx', '202005_expense_list.xlsx', '202006_expense_list.xlsx', '202007_expense_list.xlsx', '202008_expense_list.xlsx', '202009_expense_list.xlsx', '202010_expense_list.xlsx', '202011_expense_list.xlsx', '202012_expense_list.xlsx']
202001_expense_list.xlsx
202002_expense_list.xlsx
202003_expense_list.xlsx
202004_expense_list.xlsx
202005_expense_list.xlsx
202006_expense_list.xlsx
202007_expense_list.xlsx
202008_expense_list.xlsx
202009_expense_list.xlsx
202010_expense_list.xlsx
202011_expense_list.xlsx
202012_expense_list.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70862 entries, 0 to 70861
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70862 non-null  int64
 1   title              70862 non-null  object
 2   url                70862 non-null  object
 3   dept_nm_lvl_1      70862 non-null  object
 4   dept_nm_lvl_2      70862 non-null  object
 5   dept_nm_lvl_3      55593 non-null  object
 6   dept_nm_lvl_4      18992 non-null  object
 7   dept_nm_lvl_5      1601 non-null   object
 8   exec_yr            70862 non-null  int64
 9   exec_month         70862 non-null  int64
 10  expense_budget     1823 non-null   float64
 11  expense_execution  1338 non-null   float64
 12  category           2123 non-null   object
 13  dept_nm_full       70862 non-null  object
 14  exec_dt            70862 non-null  object
 15  exec_loc           70278 non-null  object
 16  exec_purpose       70862 non-null  object
 17  target_nm          70488 non-null  object
 18  payment_method     70862 non-null  object
 19  exec_amount        70862 non-null  int64
 20  bimok              283 non-null    object
dtypes: float64(2), int64(4), object(15)
memory usage: 11.4+ MB

In [163]:
file_list = os.listdir("../csv/2022/")
a= '.json'
for i in file_list :
   if i.endswith(a): # 끝단어가 a면 true 아니면 False 출력
      print(i)

202202_expense_list.json
202203_expense_list.json
202204_expense_list.json
202205_expense_list.json

In [164]:
# 함수의 형태로 폴다에 있는 파일들을 결합하는 함수 생성
def list_load(_dir, _end):
    # 매개변수 2개 생성 : _dir -> 파일의 경로
    #                    _end -> 파일의 확장자
    if ~(_dir.endswith("/")):
        _dir = _dir+"/"
    
    if _end[0] != ".":
        _end ="." +_end
    #print(_dir, _end)
    # 파일의 리스트를 호출하는 것이 우선
    file_list = os.listdir(_dir)

    # 비어있는 데이터프레임을 생성
    result = pd.DataFrame()
    # 파일 리스트에서 확장자가 같은 값  파일들만 결합
    for i in file_list:
        # 파일명의 확장자라는 인자값과 같은 경우
        if i.endswith(_end):
            print(i)
            # 확장자에 따른 read 함수 설정
            if _end == '.csv':
                df = pd.read_csv(_dir+i)
                result = pd.concat([result, df], axis= 0, ignore_index=True)
            elif _end == '.json':
                df = pd.read_json(_dir+i)
                result =pd.concat([result, df], axis= 0, ignore_index=True)
            elif _end in [".xlsx", ".xls"]:
                df = pd.read_excel(_dir+i)
                result = pd.concat([result, df], axis=0, ignore_index=True)
            else:
                return "지원하지 않는 확장자입니다."
    return result

In [ ]:
list_load("../csv/2022/",".xlsx")

In [ ]:
import list_load as ll
import imp
imp.reload(ll)

In [ ]:
ll.load("../csv/2017/")