In [108]:
import requests
from bs4 import BeautifulSoup as bs

In [109]:
# 답변에 <Response [200]> 정상적으로 호출했다는 뜻
# 실제 사이트에서 html 정보를 받아와서 변수에 저장
# requests.get("https://finance.naver.com/marketindex/exchangeList.naver")
# .text로 데이터 가져오기
data = requests.get("https://finance.naver.com/marketindex/exchangeList.naver").text

In [110]:
# BeautifilSoup을 이용하여 데이터를 파싱
soup =bs(data, 'html.parser')

In [111]:
#print(soup)

In [112]:
# tbody값이 하나만 있는 웹사이트라서 find로 tbody찾기
# find는 html안에서 해당 태그의 첫번째 정보를 출력
soup.find('tbody')

<tbody>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_USDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_USDKRW', '1', event);" target="_parent">




					미국 USD

				</a></td>
<td class="sale">1,318.60</td>
<td>


						1,341.67

				</td>
<td>


						1,295.53

				</td>
<td>


						1,331.50

				</td>
<td>


						1,305.70

				</td>
<td>1.000</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_EURKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_EURKRW', '2', event);" target="_parent">




					유럽연합 EUR

				</a></td>
<td class="sale">1,447.03</td>
<td>


						1,475.82

				</td>
<td>


						1,418.24

				</td>
<td>


						1,461.50

				</td>
<td>


						1,432.56

				</td>
<td>1.097</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_JPYKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_JPYKRW', '3', event);" target="_parent">

					일본 JPY (100엔)




				</a></td>
<td class="sale">981.80</td>
<td>


						998.98

				</td>
<td>


						964.62

				</td>
<td>


						991.42

				</td>
<td>


						972.18

				</td>
<td>0.745</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_CNYKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CNYKRW', '4', event);" target="_parent">




					중국 CNY

				</a></td>
<td class="sale">191.61</td>
<td>


						201.19

				</td>
<td>


						182.03

				</td>
<td>


						193.52

				</td>
<td>


						189.70

				</td>
<td>0.145</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_HKDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_HKDKRW', '5', event);" target="_parent">




					홍콩 HKD

				</a></td>
<td class="sale">167.99</td>
<td>


						171.29

				</td>
<td>


						164.69

				</td>
<td>


						169.66

				</td>
<td>


						166.32

				</td>
<td>0.127</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_TWDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_TWDKRW', '6', event);" target="_parent">




					대만 TWD

				</a></td>
<td class="sale">43.19</td>
<td>


						48.84

				</td>
<td>


						38.88

				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.033</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_GBPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_GBPKRW', '7', event);" target="_parent">




					영국 GBP

				</a></td>
<td class="sale">1,637.90</td>
<td>


						1,670.16

				</td>
<td>


						1,605.64

				</td>
<td>


						1,654.27

				</td>
<td>


						1,621.53

				</td>
<td>1.242</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_OMRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_OMRKRW', '8', event);" target="_parent">




					오만 OMR

				</a></td>
<td class="sale">3,424.76</td>
<td>


						3,729.56

				</td>
<td>


						3,219.28

				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>2.597</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_CADKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CADKRW', '9', event);" target="_parent">




					캐나다 CAD

				</a></td>
<td class="sale">984.43</td>
<td>


						1,003.82

				</td>
<td>


						965.04

				</td>
<td>


						994.27

				</td>
<td>


						974.59

				</td>
<td>0.747</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_CHFKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CHFKRW', '10', event);" target="_parent">




					스위스 CHF

				</a></td>
<td class="sale">1,470.58</td>
<td>


						1,499.55

				</td>
<td>


						1,441.61

				</td>
<td>


						1,485.28

				</td>
<td>


						1,455.88

				</td>
<td>1.115</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_SEKKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_SEKKRW', '11', event);" target="_parent">




					스웨덴 SEK

				</a></td>
<td class="sale">127.79</td>
<td>


						130.92

				</td>
<td>


						124.66

				</td>
<td>


						129.06

				</td>
<td>


						126.52

				</td>
<td>0.097</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_AUDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_AUDKRW', '12', event);" target="_parent">




					호주 AUD

				</a></td>
<td class="sale">887.81</td>
<td>


						905.29

				</td>
<td>


						870.33

				</td>
<td>


						896.68

				</td>
<td>


						878.94

				</td>
<td>0.673</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_NZDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_NZDKRW', '13', event);" target="_parent">




					뉴질랜드 NZD

				</a></td>
<td class="sale">818.52</td>
<td>


						834.64

				</td>
<td>


						802.40

				</td>
<td>


						826.70

				</td>
<td>


						810.34

				</td>
<td>0.621</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_CZKKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CZKKRW', '14', event);" target="_parent">




					체코 CZK

				</a></td>
<td class="sale">61.71</td>
<td>


						66.95

				</td>
<td>


						56.16

				</td>
<td>


						62.38

				</td>
<td>


						61.04

				</td>
<td>0.047</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_CLPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CLPKRW', '15', event);" target="_parent">




					칠레 CLP

				</a></td>
<td class="sale">1.66</td>
<td>


						1.82

				</td>
<td>


						1.50

				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.001</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_TRYKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_TRYKRW', '16', event);" target="_parent">




					튀르키예 TRY

				</a></td>
<td class="sale">67.97</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>


						68.71

				</td>
<td>


						67.23

				</td>
<td>0.052</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_MNTKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_MNTKRW', '17', event);" target="_parent">




					몽골 MNT

				</a></td>
<td class="sale">0.38</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.000</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_ILSKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_ILSKRW', '18', event);" target="_parent">




					이스라엘 ILS

				</a></td>
<td class="sale">361.50</td>
<td>


						397.65

				</td>
<td>


						332.58

				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.274</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_DKKKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_DKKKRW', '19', event);" target="_parent">




					덴마크 DKK

				</a></td>
<td class="sale">194.18</td>
<td>


						198.93

				</td>
<td>


						189.43

				</td>
<td>


						196.12

				</td>
<td>


						192.24

				</td>
<td>0.147</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_NOKKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_NOKKRW', '20', event);" target="_parent">




					노르웨이 NOK

				</a></td>
<td class="sale">125.75</td>
<td>


						128.83

				</td>
<td>


						122.67

				</td>
<td>


						127.00

				</td>
<td>


						124.50

				</td>
<td>0.095</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_SARKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_SARKRW', '21', event);" target="_parent">




					사우디아라비아 SAR

				</a></td>
<td class="sale">351.56</td>
<td>


						373.70

				</td>
<td>


						327.31

				</td>
<td>


						355.07

				</td>
<td>


						348.05

				</td>
<td>0.267</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_KWDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_KWDKRW', '22', event);" target="_parent">




					쿠웨이트 KWD

				</a></td>
<td class="sale">4,302.68</td>
<td>


						4,582.35

				</td>
<td>


						3,958.47

				</td>
<td>


						4,345.70

				</td>
<td>


						4,259.66

				</td>
<td>3.263</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_BHDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_BHDKRW', '23', event);" target="_parent">




					바레인 BHD

				</a></td>
<td class="sale">3,497.33</td>
<td>


						3,721.15

				</td>
<td>


						3,217.55

				</td>
<td>


						3,532.30

				</td>
<td>


						3,462.36

				</td>
<td>2.652</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_AEDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_AEDKRW', '24', event);" target="_parent">




					아랍에미리트 AED

				</a></td>
<td class="sale">359.06</td>
<td>


						378.80

				</td>
<td>


						334.29

				</td>
<td>


						362.65

				</td>
<td>


						355.47

				</td>
<td>0.272</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_JODKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_JODKRW', '25', event);" target="_parent">




					요르단 JOD

				</a></td>
<td class="sale">1,858.75</td>
<td>


						2,024.17

				</td>
<td>


						1,710.05

				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>1.410</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_EGPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_EGPKRW', '26', event);" target="_parent">




					이집트 EGP

				</a></td>
<td class="sale">42.67</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.032</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_THBKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_THBKRW', '27', event);" target="_parent">




					태국 THB

				</a></td>
<td class="sale">38.35</td>
<td>


						40.26

				</td>
<td>


						36.05

				</td>
<td>


						38.73

				</td>
<td>


						37.97

				</td>
<td>0.029</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_SGDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_SGDKRW', '28', event);" target="_parent">




					싱가포르 SGD

				</a></td>
<td class="sale">988.86</td>
<td>


						1,008.53

				</td>
<td>


						969.19

				</td>
<td>


						998.74

				</td>
<td>


						978.98

				</td>
<td>0.750</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_MYRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_MYRKRW', '29', event);" target="_parent">




					말레이시아 MYR

				</a></td>
<td class="sale">297.55</td>
<td>


						316.29

				</td>
<td>


						275.54

				</td>
<td>

						N/A


				</td>
<td>


						294.58

				</td>
<td>0.226</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_IDRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_IDRKRW', '30', event);" target="_parent">


					인도네시아 IDR 100



				</a></td>
<td class="sale">8.90</td>
<td>


						9.79

				</td>
<td>


						8.01

				</td>
<td>


						8.98

				</td>
<td>


						8.82

				</td>
<td>0.007</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_QARKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_QARKRW', '31', event);" target="_parent">




					카타르 QAR

				</a></td>
<td class="sale">361.44</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.274</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_KZTKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_KZTKRW', '32', event);" target="_parent">




					카자흐스탄 KZT

				</a></td>
<td class="sale">2.92</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.002</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_BNDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_BNDKRW', '33', event);" target="_parent">




					브루나이 BND

				</a></td>
<td class="sale">988.86</td>
<td>


						1,028.41

				</td>
<td>


						929.53

				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.750</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_INRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_INRKRW', '34', event);" target="_parent">




					인도 INR

				</a></td>
<td class="sale">16.05</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.012</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_PKRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_PKRKRW', '35', event);" target="_parent">




					파키스탄 PKR

				</a></td>
<td class="sale">4.66</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.004</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_BDTKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_BDTKRW', '36', event);" target="_parent">




					방글라데시 BDT

				</a></td>
<td class="sale">12.42</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.009</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_PHPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_PHPKRW', '37', event);" target="_parent">




					필리핀 PHP

				</a></td>
<td class="sale">23.53</td>
<td>


						25.88

				</td>
<td>


						21.61

				</td>
<td>


						23.76

				</td>
<td>


						23.30

				</td>
<td>0.018</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_MXNKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_MXNKRW', '38', event);" target="_parent">




					멕시코 MXN

				</a></td>
<td class="sale">73.07</td>
<td>


						80.37

				</td>
<td>


						66.94

				</td>
<td>


						73.80

				</td>
<td>


						72.34

				</td>
<td>0.055</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_BRLKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_BRLKRW', '39', event);" target="_parent">




					브라질 BRL

				</a></td>
<td class="sale">264.47</td>
<td>


						291.44

				</td>
<td>


						238.03

				</td>
<td>

						N/A


				</td>
<td>


						261.30

				</td>
<td>0.201</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_VNDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_VNDKRW', '40', event);" target="_parent">



					베트남 VND 100


				</a></td>
<td class="sale">5.61</td>
<td>


						6.27

				</td>
<td>


						4.95

				</td>
<td>


						5.66

				</td>
<td>


						5.56

				</td>
<td>0.004</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_ZARKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_ZARKRW', '41', event);" target="_parent">




					남아프리카 공화국 ZAR

				</a></td>
<td class="sale">72.58</td>
<td>


						78.38

				</td>
<td>


						66.78

				</td>
<td>


						73.45

				</td>
<td>


						71.71

				</td>
<td>0.055</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_RUBKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_RUBKRW', '42', event);" target="_parent">




					러시아 RUB

				</a></td>
<td class="sale">16.16</td>
<td>


						17.69

				</td>
<td>


						13.34

				</td>
<td>


						16.72

				</td>
<td>


						15.60

				</td>
<td>0.012</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_HUFKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_HUFKRW', '43', event);" target="_parent">




					헝가리 HUF

				</a></td>
<td class="sale">3.90</td>
<td>


						4.26

				</td>
<td>


						3.59

				</td>
<td>


						3.94

				</td>
<td>


						3.86

				</td>
<td>0.003</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_PLNKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_PLNKRW', '44', event);" target="_parent">




					폴란드 PLN

				</a></td>
<td class="sale">312.59</td>
<td>


						337.59

				</td>
<td>


						287.59

				</td>
<td>


						316.02

				</td>
<td>


						309.16

				</td>
<td>0.237</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_LKRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_LKRKRW', '45', event);" target="_parent">




					스리랑카 LKR

				</a></td>
<td class="sale">4.11</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.003</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_DZDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_DZDKRW', '46', event);" target="_parent">




					알제리 DZD

				</a></td>
<td class="sale">9.72</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.007</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_KESKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_KESKRW', '47', event);" target="_parent">




					케냐 KES

				</a></td>
<td class="sale">9.77</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.007</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_COPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_COPKRW', '48', event);" target="_parent">




					콜롬비아 COP

				</a></td>
<td class="sale">0.29</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.000</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_TZSKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_TZSKRW', '49', event);" target="_parent">




					탄자니아 TZS

				</a></td>
<td class="sale">0.56</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.000</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_NPRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_NPRKRW', '50', event);" target="_parent">




					네팔 NPR

				</a></td>
<td class="sale">10.03</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.008</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_RONKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_RONKRW', '51', event);" target="_parent">




					루마니아 RON

				</a></td>
<td class="sale">293.09</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>0.222</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_LYDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_LYDKRW', '52', event);" target="_parent">




					리비아 LYD

				</a></td>
<td class="sale">276.60</td>
<td>

						N/A


				</td>
<td>

						N/A


				</td>
<td>


						279.36

				</td>
<td>


						273.84

				</td>
<td>0.210</td>
</tr>
<tr>
<td class="tit"><a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_MOPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_MOPKRW', '53', event);" target="_parent">





In [113]:
# find_all() 해당 태그의 전체 정보를 리스트 형태로 출력
data_list = soup.find_all('td')#\n 은 줄바꿈 \t는 tab

In [114]:
# soup.find_all('td')[0].get_text().repalce('\n','').strip('\t') 에러남;
# data_list를 이용하여 2차원 배열로 새로운 리스트를 생성
_list =[]
for i in data_list:
    x= i.get_text()
    x=x.replace("\n","")
    x=x.strip("\t")
    _list.append(x)
_list

['미국 USD',
 '1,318.60',
 '1,341.67',
 '1,295.53',
 '1,331.50',
 '1,305.70',
 '1.000',
 '유럽연합 EUR',
 '1,447.03',
 '1,475.82',
 '1,418.24',
 '1,461.50',
 '1,432.56',
 '1.097',
 '일본 JPY (100엔)',
 '981.80',
 '998.98',
 '964.62',
 '991.42',
 '972.18',
 '0.745',
 '중국 CNY',
 '191.61',
 '201.19',
 '182.03',
 '193.52',
 '189.70',
 '0.145',
 '홍콩 HKD',
 '167.99',
 '171.29',
 '164.69',
 '169.66',
 '166.32',
 '0.127',
 '대만 TWD',
 '43.19',
 '48.84',
 '38.88',
 'N/A',
 'N/A',
 '0.033',
 '영국 GBP',
 '1,637.90',
 '1,670.16',
 '1,605.64',
 '1,654.27',
 '1,621.53',
 '1.242',
 '오만 OMR',
 '3,424.76',
 '3,729.56',
 '3,219.28',
 'N/A',
 'N/A',
 '2.597',
 '캐나다 CAD',
 '984.43',
 '1,003.82',
 '965.04',
 '994.27',
 '974.59',
 '0.747',
 '스위스 CHF',
 '1,470.58',
 '1,499.55',
 '1,441.61',
 '1,485.28',
 '1,455.88',
 '1.115',
 '스웨덴 SEK',
 '127.79',
 '130.92',
 '124.66',
 '129.06',
 '126.52',
 '0.097',
 '호주 AUD',
 '887.81',
 '905.29',
 '870.33',
 '896.68',
 '878.94',
 '0.673',
 '뉴질랜드 NZD',
 '818.52',
 '834.64',
 '802.40',
 '826.70',
 '810.34',
 '0.621',
 '체코 CZK',
 '61.71',
 '66.95',
 '56.16',
 '62.38',
 '61.04',
 '0.047',
 '칠레 CLP',
 '1.66',
 '1.82',
 '1.50',
 'N/A',
 'N/A',
 '0.001',
 '튀르키예 TRY',
 '67.97',
 'N/A',
 'N/A',
 '68.71',
 '67.23',
 '0.052',
 '몽골 MNT',
 '0.38',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '이스라엘 ILS',
 '361.50',
 '397.65',
 '332.58',
 'N/A',
 'N/A',
 '0.274',
 '덴마크 DKK',
 '194.18',
 '198.93',
 '189.43',
 '196.12',
 '192.24',
 '0.147',
 '노르웨이 NOK',
 '125.75',
 '128.83',
 '122.67',
 '127.00',
 '124.50',
 '0.095',
 '사우디아라비아 SAR',
 '351.56',
 '373.70',
 '327.31',
 '355.07',
 '348.05',
 '0.267',
 '쿠웨이트 KWD',
 '4,302.68',
 '4,582.35',
 '3,958.47',
 '4,345.70',
 '4,259.66',
 '3.263',
 '바레인 BHD',
 '3,497.33',
 '3,721.15',
 '3,217.55',
 '3,532.30',
 '3,462.36',
 '2.652',
 '아랍에미리트 AED',
 '359.06',
 '378.80',
 '334.29',
 '362.65',
 '355.47',
 '0.272',
 '요르단 JOD',
 '1,858.75',
 '2,024.17',
 '1,710.05',
 'N/A',
 'N/A',
 '1.410',
 '이집트 EGP',
 '42.67',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.032',
 '태국 THB',
 '38.35',
 '40.26',
 '36.05',
 '38.73',
 '37.97',
 '0.029',
 '싱가포르 SGD',
 '988.86',
 '1,008.53',
 '969.19',
 '998.74',
 '978.98',
 '0.750',
 '말레이시아 MYR',
 '297.55',
 '316.29',
 '275.54',
 'N/A',
 '294.58',
 '0.226',
 '인도네시아 IDR 100',
 '8.90',
 '9.79',
 '8.01',
 '8.98',
 '8.82',
 '0.007',
 '카타르 QAR',
 '361.44',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.274',
 '카자흐스탄 KZT',
 '2.92',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.002',
 '브루나이 BND',
 '988.86',
 '1,028.41',
 '929.53',
 'N/A',
 'N/A',
 '0.750',
 '인도 INR',
 '16.05',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.012',
 '파키스탄 PKR',
 '4.66',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.004',
 '방글라데시 BDT',
 '12.42',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.009',
 '필리핀 PHP',
 '23.53',
 '25.88',
 '21.61',
 '23.76',
 '23.30',
 '0.018',
 '멕시코 MXN',
 '73.07',
 '80.37',
 '66.94',
 '73.80',
 '72.34',
 '0.055',
 '브라질 BRL',
 '264.47',
 '291.44',
 '238.03',
 'N/A',
 '261.30',
 '0.201',
 '베트남 VND 100',
 '5.61',
 '6.27',
 '4.95',
 '5.66',
 '5.56',
 '0.004',
 '남아프리카 공화국 ZAR',
 '72.58',
 '78.38',
 '66.78',
 '73.45',
 '71.71',
 '0.055',
 '러시아 RUB',
 '16.16',
 '17.69',
 '13.34',
 '16.72',
 '15.60',
 '0.012',
 '헝가리 HUF',
 '3.90',
 '4.26',
 '3.59',
 '3.94',
 '3.86',
 '0.003',
 '폴란드 PLN',
 '312.59',
 '337.59',
 '287.59',
 '316.02',
 '309.16',
 '0.237',
 '스리랑카 LKR',
 '4.11',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.003',
 '알제리 DZD',
 '9.72',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.007',
 '케냐 KES',
 '9.77',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.007',
 '콜롬비아 COP',
 '0.29',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '탄자니아 TZS',
 '0.56',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '네팔 NPR',
 '10.03',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.008',
 '루마니아 RON',
 '293.09',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.222',
 '리비아 LYD',
 '276.60',
 'N/A',
 'N/A',
 '279.36',
 '273.84',
 '0.210',
 '마카오 MOP',
 '163.01',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.124',
 '미얀마 MMK',
 '0.63',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.001',
 '에티오피아 ETB',
 '24.20',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.018',
 '우즈베키스탄 UZS',
 '0.12',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '캄보디아 KHR',
 '0.32',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '피지 FJD',
 '591.00',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.448']

In [115]:
result =[]
for i in range(len(_list)//7):
    result.append(_list[i*7:(i+1)*7])
result

[['미국 USD',
  '1,318.60',
  '1,341.67',
  '1,295.53',
  '1,331.50',
  '1,305.70',
  '1.000'],
 ['유럽연합 EUR',
  '1,447.03',
  '1,475.82',
  '1,418.24',
  '1,461.50',
  '1,432.56',
  '1.097'],
 ['일본 JPY (100엔)', '981.80', '998.98', '964.62', '991.42', '972.18', '0.745'],
 ['중국 CNY', '191.61', '201.19', '182.03', '193.52', '189.70', '0.145'],
 ['홍콩 HKD', '167.99', '171.29', '164.69', '169.66', '166.32', '0.127'],
 ['대만 TWD', '43.19', '48.84', '38.88', 'N/A', 'N/A', '0.033'],
 ['영국 GBP',
  '1,637.90',
  '1,670.16',
  '1,605.64',
  '1,654.27',
  '1,621.53',
  '1.242'],
 ['오만 OMR', '3,424.76', '3,729.56', '3,219.28', 'N/A', 'N/A', '2.597'],
 ['캐나다 CAD', '984.43', '1,003.82', '965.04', '994.27', '974.59', '0.747'],
 ['스위스 CHF',
  '1,470.58',
  '1,499.55',
  '1,441.61',
  '1,485.28',
  '1,455.88',
  '1.115'],
 ['스웨덴 SEK', '127.79', '130.92', '124.66', '129.06', '126.52', '0.097'],
 ['호주 AUD', '887.81', '905.29', '870.33', '896.68', '878.94', '0.673'],
 ['뉴질랜드 NZD', '818.52', '834.64', '802.40', '826.70', '810.34', '0.621'],
 ['체코 CZK', '61.71', '66.95', '56.16', '62.38', '61.04', '0.047'],
 ['칠레 CLP', '1.66', '1.82', '1.50', 'N/A', 'N/A', '0.001'],
 ['튀르키예 TRY', '67.97', 'N/A', 'N/A', '68.71', '67.23', '0.052'],
 ['몽골 MNT', '0.38', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['이스라엘 ILS', '361.50', '397.65', '332.58', 'N/A', 'N/A', '0.274'],
 ['덴마크 DKK', '194.18', '198.93', '189.43', '196.12', '192.24', '0.147'],
 ['노르웨이 NOK', '125.75', '128.83', '122.67', '127.00', '124.50', '0.095'],
 ['사우디아라비아 SAR', '351.56', '373.70', '327.31', '355.07', '348.05', '0.267'],
 ['쿠웨이트 KWD',
  '4,302.68',
  '4,582.35',
  '3,958.47',
  '4,345.70',
  '4,259.66',
  '3.263'],
 ['바레인 BHD',
  '3,497.33',
  '3,721.15',
  '3,217.55',
  '3,532.30',
  '3,462.36',
  '2.652'],
 ['아랍에미리트 AED', '359.06', '378.80', '334.29', '362.65', '355.47', '0.272'],
 ['요르단 JOD', '1,858.75', '2,024.17', '1,710.05', 'N/A', 'N/A', '1.410'],
 ['이집트 EGP', '42.67', 'N/A', 'N/A', 'N/A', 'N/A', '0.032'],
 ['태국 THB', '38.35', '40.26', '36.05', '38.73', '37.97', '0.029'],
 ['싱가포르 SGD', '988.86', '1,008.53', '969.19', '998.74', '978.98', '0.750'],
 ['말레이시아 MYR', '297.55', '316.29', '275.54', 'N/A', '294.58', '0.226'],
 ['인도네시아 IDR 100', '8.90', '9.79', '8.01', '8.98', '8.82', '0.007'],
 ['카타르 QAR', '361.44', 'N/A', 'N/A', 'N/A', 'N/A', '0.274'],
 ['카자흐스탄 KZT', '2.92', 'N/A', 'N/A', 'N/A', 'N/A', '0.002'],
 ['브루나이 BND', '988.86', '1,028.41', '929.53', 'N/A', 'N/A', '0.750'],
 ['인도 INR', '16.05', 'N/A', 'N/A', 'N/A', 'N/A', '0.012'],
 ['파키스탄 PKR', '4.66', 'N/A', 'N/A', 'N/A', 'N/A', '0.004'],
 ['방글라데시 BDT', '12.42', 'N/A', 'N/A', 'N/A', 'N/A', '0.009'],
 ['필리핀 PHP', '23.53', '25.88', '21.61', '23.76', '23.30', '0.018'],
 ['멕시코 MXN', '73.07', '80.37', '66.94', '73.80', '72.34', '0.055'],
 ['브라질 BRL', '264.47', '291.44', '238.03', 'N/A', '261.30', '0.201'],
 ['베트남 VND 100', '5.61', '6.27', '4.95', '5.66', '5.56', '0.004'],
 ['남아프리카 공화국 ZAR', '72.58', '78.38', '66.78', '73.45', '71.71', '0.055'],
 ['러시아 RUB', '16.16', '17.69', '13.34', '16.72', '15.60', '0.012'],
 ['헝가리 HUF', '3.90', '4.26', '3.59', '3.94', '3.86', '0.003'],
 ['폴란드 PLN', '312.59', '337.59', '287.59', '316.02', '309.16', '0.237'],
 ['스리랑카 LKR', '4.11', 'N/A', 'N/A', 'N/A', 'N/A', '0.003'],
 ['알제리 DZD', '9.72', 'N/A', 'N/A', 'N/A', 'N/A', '0.007'],
 ['케냐 KES', '9.77', 'N/A', 'N/A', 'N/A', 'N/A', '0.007'],
 ['콜롬비아 COP', '0.29', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['탄자니아 TZS', '0.56', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['네팔 NPR', '10.03', 'N/A', 'N/A', 'N/A', 'N/A', '0.008'],
 ['루마니아 RON', '293.09', 'N/A', 'N/A', 'N/A', 'N/A', '0.222'],
 ['리비아 LYD', '276.60', 'N/A', 'N/A', '279.36', '273.84', '0.210'],
 ['마카오 MOP', '163.01', 'N/A', 'N/A', 'N/A', 'N/A', '0.124'],
 ['미얀마 MMK', '0.63', 'N/A', 'N/A', 'N/A', 'N/A', '0.001'],
 ['에티오피아 ETB', '24.20', 'N/A', 'N/A', 'N/A', 'N/A', '0.018'],
 ['우즈베키스탄 UZS', '0.12', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['캄보디아 KHR', '0.32', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['피지 FJD', '591.00', 'N/A', 'N/A', 'N/A', 'N/A', '0.448']]

In [116]:
import pandas as pd

In [117]:
columns = ['통화명','매매기준율','현찰(구매)','현찰(판매)','송금(보낼때)','송금(받을때)','미화환산율']

In [118]:
pd.DataFrame(result, columns=columns).to_csv('test_Csv',index=False)

In [119]:
import mod_sql

In [120]:
db = mod_sql.Database('localhost','root','1234','ubion7',3306)

In [121]:
sql ="""
    create table 
    `naver`(
        `통화명` varchar(16) primary key,
        `매매기준율` varchar(16),
        `현찰(구매)` varchar(16),
        `현찰(판매)` varchar(16),
        `송금(보낼때)` varchar(16),
        `송금(받을때)` varchar(16),
        `미화환산율` varchar(16)
    )
"""
db.sql_query(sql)

OperationalError: (1050, "Table 'naver' already exists")

In [122]:
# naver라는 이름으로 생성한 테이블에 데이터 삽입
# 데이터를 삽입하는 insert문을 작성
sql = """
    insert into naver
    values(%s,%s,%s,%s,%s,%s,%s)
"""
values =[1,2,3,4,5,6,7]
db.sql_query(sql, values)

'Query OK'

In [138]:
# delete = 테이블 안에 데이터 삭제 /drop = 테이블 자체를 삭제
sql ="""
    delete
    from
    `naver`
    where
    `통화명` = '미국 USD'
"""
db.sql_query(sql)

'Query OK'

In [140]:
#result 변수의 데이터를 naver 테이블에 삽입
sql ="""
    insert into naver
    values(%s,%s,%s,%s,%s,%s,%s)
"""
for i in range(len(result)):
    values = result[i]
    db.sql_query(sql,values)

IntegrityError: (1062, "Duplicate entry '미국 USD' for key 'naver.PRIMARY'")

In [153]:
sql ="""
    insert into naver2
    (`통화명`,`매매기준율`,`현찰(구매)`,`현찰(판매)`,`송금(보낼때)`,`송금(받을때)`,`미화환산율`)
    values(%s,%s,%s,%s,%s,%s,%s)
"""
for i in result:
    db.sql_query(sql,i)

In [154]:
sql ="""
select *
from naver2
"""
db.sql_query(sql)

    no            통화명     매매기준율    현찰(구매)    현찰(판매)   송금(보낼때)   송금(받을때)  미화환산율
0    1         미국 USD  1,318.60  1,341.67  1,295.53  1,331.50  1,305.70  1.000
1    2       유럽연합 EUR  1,447.03  1,475.82  1,418.24  1,461.50  1,432.56  1.097
2    3  일본 JPY (100엔)    981.80    998.98    964.62    991.42    972.18  0.745
3    4         중국 CNY    191.61    201.19    182.03    193.52    189.70  0.145
4    5         홍콩 HKD    167.99    171.29    164.69    169.66    166.32  0.127
5    6         대만 TWD     43.19     48.84     38.88       N/A       N/A  0.033
6    7         영국 GBP  1,637.90  1,670.16  1,605.64  1,654.27  1,621.53  1.242
7    8         오만 OMR  3,424.76  3,729.56  3,219.28       N/A       N/A  2.597
8    9        캐나다 CAD    984.43  1,003.82    965.04    994.27    974.59  0.747
9   10        스위스 CHF  1,470.58  1,499.55  1,441.61  1,485.28  1,455.88  1.115
10  11        스웨덴 SEK    127.79    130.92    124.66    129.06    126.52  0.097
11  12         호주 AUD    887.81    905.29    870.33    896.68    878.94  0.673
12  13       뉴질랜드 NZD    818.52    834.64    802.40    826.70    810.34  0.621
13  14         체코 CZK     61.71     66.95     56.16     62.38     61.04  0.047
14  15         칠레 CLP      1.66      1.82      1.50       N/A       N/A  0.001
15  16       튀르키예 TRY     67.97       N/A       N/A     68.71     67.23  0.052
16  17         몽골 MNT      0.38       N/A       N/A       N/A       N/A  0.000
17  18       이스라엘 ILS    361.50    397.65    332.58       N/A       N/A  0.274
18  19        덴마크 DKK    194.18    198.93    189.43    196.12    192.24  0.147
19  20       노르웨이 NOK    125.75    128.83    122.67    127.00    124.50  0.095
20  21    사우디아라비아 SAR    351.56    373.70    327.31    355.07    348.05  0.267
21  22       쿠웨이트 KWD  4,302.68  4,582.35  3,958.47  4,345.70  4,259.66  3.263
22  23        바레인 BHD  3,497.33  3,721.15  3,217.55  3,532.30  3,462.36  2.652
23  24     아랍에미리트 AED    359.06    378.80    334.29    362.65    355.47  0.272
24  25        요르단 JOD  1,858.75  2,024.17  1,710.05       N/A       N/A  1.410
25  26        이집트 EGP     42.67       N/A       N/A       N/A       N/A  0.032
26  27         태국 THB     38.35     40.26     36.05     38.73     37.97  0.029
27  28       싱가포르 SGD    988.86  1,008.53    969.19    998.74    978.98  0.750
28  29      말레이시아 MYR    297.55    316.29    275.54       N/A    294.58  0.226
29  30  인도네시아 IDR 100      8.90      9.79      8.01      8.98      8.82  0.007
30  31        카타르 QAR    361.44       N/A       N/A       N/A       N/A  0.274
31  32      카자흐스탄 KZT      2.92       N/A       N/A       N/A       N/A  0.002
32  33       브루나이 BND    988.86  1,028.41    929.53       N/A       N/A  0.750
33  34         인도 INR     16.05       N/A       N/A       N/A       N/A  0.012
34  35       파키스탄 PKR      4.66       N/A       N/A       N/A       N/A  0.004
35  36      방글라데시 BDT     12.42       N/A       N/A       N/A       N/A  0.009
36  37        필리핀 PHP     23.53     25.88     21.61     23.76     23.30  0.018
37  38        멕시코 MXN     73.07     80.37     66.94     73.80     72.34  0.055
38  39        브라질 BRL    264.47    291.44    238.03       N/A    261.30  0.201
39  40    베트남 VND 100      5.61      6.27      4.95      5.66      5.56  0.004
40  41  남아프리카 공화국 ZAR     72.58     78.38     66.78     73.45     71.71  0.055
41  42        러시아 RUB     16.16     17.69     13.34     16.72     15.60  0.012
42  43        헝가리 HUF      3.90      4.26      3.59      3.94      3.86  0.003
43  44        폴란드 PLN    312.59    337.59    287.59    316.02    309.16  0.237
44  45       스리랑카 LKR      4.11       N/A       N/A       N/A       N/A  0.003
45  46        알제리 DZD      9.72       N/A       N/A       N/A       N/A  0.007
46  47         케냐 KES      9.77       N/A       N/A       N/A       N/A  0.007
47  48       콜롬비아 COP      0.29       N/A       N/A       N/A       N/A  0.000
48  49       탄자니아 TZS      0.56       N/A       N/A       N/A       N/A  0.000
49  50         네팔 NPR     10.03       N/A       N/A       N/A       N/A  0.008
50  51       루마니아 RON    293.09       N/A       N/A       N/A       N/A  0.222
51  52        리비아 LYD    276.60       N/A       N/A    279.36    273.84  0.210
52  53        마카오 MOP    163.01       N/A       N/A       N/A       N/A  0.124
53  54        미얀마 MMK      0.63       N/A       N/A       N/A       N/A  0.001
54  55      에티오피아 ETB     24.20       N/A       N/A       N/A       N/A  0.018
55  56     우즈베키스탄 UZS      0.12       N/A       N/A       N/A       N/A  0.000
56  57       캄보디아 KHR      0.32       N/A       N/A       N/A       N/A  0.000
57  58         피지 FJD    591.00       N/A       N/A       N/A       N/A  0.448