In [1]:
#라이브러리 로드
import pandas as pd

In [2]:
# 스리즈 형태 데이터를 생성
pd_list = pd.Series([5000,6000,65000,65000],
                    index=['아메리카노','카페라떼','카페모카','카푸치노'])

In [3]:
print(pd_list)

아메리카노     5000
카페라떼      6000
카페모카     65000
카푸치노     65000
dtype: int64

In [4]:
print('스리즈 형태의 데이터에서 index의 값은 :', pd_list.index)
print('스리즈 형태의 데이터에서 value의 값은 :', pd_list.values)

스리즈 형태의 데이터에서 index의 값은 : Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')
스리즈 형태의 데이터에서 value의 값은 : [ 5000  6000 65000 65000]

In [11]:
#2차원 데이터셋
#데이터 프레임 생성
_value = [[1,2,3],[4,5,6],[7,8,9]]
_index = ['a','b','c']
_column = ['A','B','C']

df= pd.DataFrame(_value,index = _index, columns = _column)
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9