In [22]:
#라이브러리 로드
import pandas as pd

In [23]:
# 스리즈 형태 데이터를 생성
pd_list = pd.Series([5000,6000,65000,65000],
                    index=['아메리카노','카페라떼','카페모카','카푸치노'])

In [24]:
print(pd_list)

아메리카노     5000
카페라떼      6000
카페모카     65000
카푸치노     65000
dtype: int64

In [25]:
print('스리즈 형태의 데이터에서 index의 값은 :', pd_list.index)
print('스리즈 형태의 데이터에서 value의 값은 :', pd_list.values)

스리즈 형태의 데이터에서 index의 값은 : Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')
스리즈 형태의 데이터에서 value의 값은 : [ 5000  6000 65000 65000]

In [26]:
#2차원 데이터셋
#데이터 프레임 생성
_value = [[1,2,3],[4,5,6],[7,8,9]]
_index = ['a','b','c']
_column = ['A','B','C']

df= pd.DataFrame(_value,index = _index, columns = _column)
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [27]:
print("데이터프레임의 인덱스의 값",df.index)
print("데이터프레임의 컬럼의 값", df.columns)
print("데이터프레임의 벨류의 값", df.values)

데이터프레임의 인덱스의 값 Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 컬럼의 값 Index(['A', 'B', 'C'], dtype='object')
데이터프레임의 벨류의 값 [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [28]:
# 딕셔너리 형태의 데이터를 가지고 dataframe 생성
_value ={
    "name" : ["test1","test2",'test3'],
    "age" : [20,30,25],
    "phone" : ["010123456789","01078945613","010879546213"]
}
print(_value)

{'name': ['test1', 'test2', 'test3'], 'age': [20, 30, 25], 'phone': ['010123456789', '01078945613', '010879546213']}

In [29]:
df2=pd.DataFrame(_value)
df2

    name  age         phone
0  test1   20  010123456789
1  test2   30   01078945613
2  test3   25  010879546213

In [21]:
df2['name']

0    test1
1    test2
2    test3
Name: name, dtype: object

### 경로
1. 절대 경로
    - 절대적인 주소? -> 환경이 바뀌더라도 다 같은 위치를 지정하는 절대적인 경로
    - ex) c:/users/user/document/a.txt, 인터넷 url
2. 상대 경로
    - 상대적인 경로
    - 환경에 따라 위치가 달라진다.
    - ./ : 현재 파일의 경로
    - ../ : 현재 경로에서 상위 폴더로 이동
    - 폴더명/ : 해당하는 하위 폴더로 이동